html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
div {
  margin: 0;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}
